p{
  text-align: center;
}

ion-title {
  font-size: 1.5em;
}

ion-card {
  margin: 20px;
}

ion-button {
  margin: 20px;
}


svg {
  height: 50px;
  width: auto;
}

ion-card-title {
  text-align: center;
}
